.CategoriesMenu {
  border-bottom: 1px solid #e4e5e7;
  margin-bottom: 10px;

  .categoriesmenu {
    &_wrapper {
      width: 100%;
      background-color: #fff;
      display: none;
      @media only screen and (min-width: 600px) {
        border-bottom: 1px solid #e4e5e7;
        display: block;
      }
    }
    &_row {
      position: relative;
      width: 100%;
      background-color: #fff;
      box-sizing: border-box;
      padding: 0 32px;
      @media only screen and (min-width: 1160px) {
        margin: 0 auto;
        max-width: 1400px;
      }
      @media only screen and (min-width: 1160px) {
        margin: 0 auto;
        max-width: 1400px;
      }
    }
    &_ul {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0;
      //   max-width: 1375px;
      overflow: hidden;
      .categoriesmenu_li {
        .links {
          color: #62646a;
          display: block;
          font-size: 16px;
          line-height: 24px;
          padding: 8px 0;
          position: relative;
          text-decoration: none;
          width: max-content;
          &::after {
            background: #1dbf73;
            bottom: 0;
            content: "";
            height: 3px;
            left: 0;
            position: absolute;
            width: 0px;
            z-index: 1;
            transition: all 0.3s;
          }
          &:hover {
            &::after {
              width: 100%;
            }
          }
          &:hover + .categoriesmenu_li_jobdetail {
            display: block;
            position: absolute;
            width: max-content;
            padding: 20px 32px;
            border: 1px solid #e4e5e7;
            box-shadow: 0px 1px 3px #dadbdd;

            z-index: 999;
          }
          //   &.active {
          //     &::after {
          //       width: 100%;
          //       background: #1dbf73;
          //     }
          //   }
        }
        .categoriesmenu_li_jobdetail_3 {
          right: 530px;
        }
        .categoriesmenu_li_jobdetail_4 {
          right: 300px;
        }
        .categoriesmenu_li_jobdetail_5 {
          right: 30px;
        }
        .categoriesmenu_li_jobdetail {
          display: none;
          .categoriesmenu_li_jobdetail_detail {
            font-size: 16px;
            color: #404145;
            padding: 8px 0;
            margin: 0;
            font-weight: 500;
          }
          .categoriesmenu_li_jobdetail_detail_job {
            font-size: 16px;
            color: #62646a;
            padding: 6px 0;
            margin: 0;
            font-weight: 300;
          }
        }
      }
    }
  }
}
